/* Gaya untuk bagian pencarian */
form {
  margin-bottom: 20px;
  float:right;
}

label {
  font-weight: bold;
  color: #853c29;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #c05e46;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #853c29;
}

/* Gaya untuk bagian tabel */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #c05e46;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	background-color: #c05e46;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	text-decoration: none;
	margin-right: 10px;
}

a:hover {
	text-decoration:none;
  background-color: #853c29;
}
